.main_header {
    position: fixed;
    font-size: large;
    text-align: center;
    transition: font-size 500ms;
    transition: height 200ms ease;
    width: 100%;
    background-color: #45A5C8;
    background: linear-gradient(to right, #66d7d1, #6DD5FF);
    height: 10%;
    opacity: 0.8;
}
.main_display{
    position: fixed;
    width: 100%;
}

.lobster_text {;
    height: 100%;
}
