.search_page {
    position: absolute;
    overflow: hidden;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #2B6BAF;
    z-index: -1;
}
.search_bg_img {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-image: url("../images/bitmap/twelve_apostles002.jpg");
    background-size:cover;*/
    opacity: 0.8;
}
.search_box{
  width: 50%;
}
